body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

header {
  border-bottom: #f9f7fe 1px solid;
  padding: 0 0 30px 0;
}

a {
  color: #885df1;
}

.weather-container {
  background-color: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 30px;
  border-radius: 10px;
}

.search-form-input {
  background-color: #f9f7fe;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
}

.search-form-btn {
  background-color: #885df1;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  margin-left: 5px;
  font-size: 16px;
  cursor: pointer;
}

main {
  padding: 30px 0;
}

.weather-data {
  display: flex;
  justify-content: space-between;
}

footer {
  border-top: #f9f7fe 1px solid;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
